* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.BoxWrapper {
    background: radial-gradient(circle, rgba(101,49,189,1) 0%, rgba(130,225,255,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}


/* --------------------------header---------------------- */

.Mainheader {
    width: 100%;
    height: 92px;
    background: rgba(255, 255, 255, 0.19);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 0px 0 72px;
}

.logo h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
    padding: 20px;
    cursor: pointer;
}

nav {
    padding: 0 72px 0 0;
}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* --------------------------End header---------------------- */



/* --------------------------Footer---------------------- */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 91px;
}

footer span {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
}
/* --------------------------End Footer---------------------- */


/* --------------------------Content---------------------- */
.Content {
    padding: 165px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    gap: 43px;
    grid-template-columns:450px  ;
    justify-content: center;
    align-items: center;
}

.Box {
    width:450px ;
    height: 575px;
    border-radius: 48px;
    background: rgb(0,0,0, 0.2);
    backdrop-filter: blur(16px);
    position: relative;
}

/* --------------------------End Content---------------------- */


/* --------------------------AddBox---------------------- */
.Addbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 29px;
}

#Addbtn {
    width: 130px;
    height: 130px;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 50%;
    border:none;
    cursor: pointer;
}

#Addbtn:hover {
    background: rgba(213, 162, 162, 0.26);
}

.addNewLoc span {
    font-size: 24px;
    color: #FFFFFF;
}
/* --------------------------AddBox---------------------- */


/* --------------------------Input Box---------------------- */
.inputbox {
    display: none;
}

.inputbox input {
 padding: 10px 15px;   
 outline: none;
 border-radius: 4px;
 border: 1px solid rgba(130,225,255,1);
 background: rgba(255, 255, 255, 0.19);
 color: #FFF ;
}

.inputbox input:focus {
    background: rgb(55, 18, 121);
    border: 1px solid rgb(0, 171, 223);
}

#Add {
    padding: 10px 15px;   
    border-radius: 5px;
    border: 1px solid rgba(130,225,255,1);
    cursor: pointer;
    background: rgba(101,49,189,1);
    color: #fff;
   }

#Add:hover {
    background: rgb(55, 18, 121);
}
/* --------------------------Input Box---------------------- */


/* --------------------------WeatherCard---------------------- */
.WeatherCard {
    padding: 50px 28px;
    display: flex;
    flex-direction: column;
}


.cardHeader {
    width: 100%;
    display: flex;
    align-items: center; 
}

.cardHeader img {
    width: 100px;
}


.Cityinfo {
    color: #fff;
    padding-left: 24px;
}

.Cityinfo h2 {
    font-size: 24px;
}

.Cityinfo span {
    font-size: 18px;
}

.WthCelsius {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.celsius {
    display: flex;
}

.celsius h2 {
    font-size: 144px;
    color: #fff;
}

.celsius span {
    margin-top: 45px;
    font-size: 24px;
    color: #fff;
}

.whetherinfo {
    margin-top: -25px;
    color: #fff;
    font-size: 18px;
}


.wthinfo {
    display: grid;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(2, 2fr);
}

.wthinfo li {
    font-size: 18px;
    color: #fff;
    width: 100%;
    margin-top: 8px;
    align-items:center;
    display: flex;
    list-style: none;
}

.wthinfo li img {
    margin-right: 6px;
}

.wthinfo li span {
    margin-left: 12px;
}

.borderline::before {
    content: '';
    background-color: #fff;
    width: 1px;
    height: 19px;
}

.borderline img {
    margin-left: 20px;
}

/* --------------------------WeatherCard---------------------- */

.removecard {
    position: absolute;
    right: 0;
    margin: -20px 30px 0 0;
}

.removecardbtn {
    background:none;
    border:none;
    cursor: pointer;
}

.bi-trash3 {
    width: 16px;
    height: 16px;
    color: #fff;
}

.removecard button:hover {
    opacity: 0.5;
}
/* --------------------------AddBox---------------------- */

/* --------------------------Screen media---------------------- */

@media screen and (max-device-width: 793px)  { 
    .wthinfo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    
    .borderline::before {
        content: '';
        background-color: none;
        width: 0px;
        height: 0px;
    }
    
    .borderline img {
        margin-left: 0px;
    }
}
@media screen and (max-device-width: 596px)  { 
.Content {
    padding: 65px;
}

.Addbox {
    background: none;
    height: 50%;
    width: 50%;
}


.addNewLoc span {
    width: 100%;
    display: flex;
    text-align: center;
}

.wthinfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.borderline::before {
    content: '';
    background-color: none;
    width: 0px;
    height: 0px;
}

.borderline img {
    margin-left: 0px;
}

.logo h1 {
display: none;
}

.logo {
padding: 0 0 0 25px;
}

}

@media screen and (max-device-width: 662px)  { 
    .logo h1 {
        display: none;
        }
        
        .logo {
        padding: 0 0 0 25px;
        }

        .Content {
            padding: 65px;
        }
        
        .Addbox {
            background: none;
            height: 70%;
            width: 70%;
        }
        
}
